/* Google Fonts 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Header 스타일 */
header {
  background: #e0f2f1;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

h1 {
  font-size: 36px;
  color: #004d40;
  cursor: pointer;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

.top-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

.top-nav-item {
  font-size: 14px;
  color: #2c6b6f;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

.nav-item {
  margin: 0 25px;
  font-size: 14px;
  color: #2c6b6f;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}

.menu-icon {
  font-size: 24px;
  color: #004d40;
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-family: 'Noto Sans KR', sans-serif;  /* 폰트 패밀리 적용 */
}